name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14.x

      - name: Install Dependencies
        run: npm install

      - name: Build Application
        run: npm run build

      - name: Run Tests
        run: npm run test

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Deploy to EC2
        uses: burnett01/rsync-deployments@5.1
        with:
          switches: -avzr --delete
          path: ./
          remote_path: /var/www/nodeapplication/
          remote_host: 54.169.34.91
          remote_user: ubuntu
          remote_key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22

      - name: Restart Nginx
        run: sudo service nginx restart

      - name: Restart PM2
        run: bash -c "pm2 restart app.js" 
        working-directory: /var/www/nodeapplication
 
